<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
  backupStaticAttributes="true"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
  bootstrap="vendor/autoload.php"
  >
  <testsuites>
    <testsuite name="Guzzle">
      <directory>./tests/Guzzle/</directory>
    </testsuite>

    <testsuite name="RingCentral">
      <directory>./tests/RingCentral/</directory>
    </testsuite>

    <testsuite name="Slim">
        <directory>./tests/Slim/</directory>
    </testsuite>

    <testsuite name="Laminas">
        <directory>./tests/Laminas/</directory>
    </testsuite>

    <testsuite name="Nyholm">
        <directory>./vendor/nyholm/psr7/tests/Integration/</directory>
    </testsuite>

    <testsuite name="Shieldon">
        <directory>./tests/Shieldon/</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>./</directory>
      <exclude>
        <directory>./Tests</directory>
        <directory>./vendor</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
