name: Laminas Legacy

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  latest:
    strategy:
      fail-fast: false
      matrix:
        php: [ '7.2', '7.3', '7.4' ]
    uses: ./.github/workflows/integration.yml
    with:
      php: ${{ matrix.php }}
      suite: Laminas
      package: laminas/laminas-diactoros
